body {
    background-image: url("./img/background-paper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-container {
    margin-bottom: 8px;
}

#title:hover {
    transition: all 0.08s ease-in-out;
    transform: scale(1.15);
    color: rgb(218, 165, 32);
    cursor: pointer;
}

#grid-container {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 512px;
    height: 512px;
    border-style: double;
    border-color: rgb(128, 128, 128);
    border-width: 4px;
}

.square-div {
    background-color: rgb(255, 255, 255);
    user-select: none;
}

#app-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 1100px;
}

#grid-buttons .btn-selected {
    background-color: rgb(245, 245, 245);
}

#grid-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 220px;
}

#grid-buttons button {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 8px;
    margin: 2px;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 8px;
    transition: all 0.05s ease-out;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(211, 211, 211);
}

#grid-buttons button:hover {
    border-color: rgb(218, 165, 32);
    box-shadow: 0 0 4px rgb(218, 165, 32);
    cursor: pointer;
}

#grid-buttons button:active {
    border-color: rgb(218, 165, 32);
    box-shadow: 0 0 4px rgb(218, 165, 32);
    transform: scale(0.95);
    cursor: pointer;
}

.btn#reset {
    border: 3px solid rgb(128, 128, 128);
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    padding: 24px 8px;
    transition: all 0.05s ease-out;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(245, 245, 245);
}

.btn#reset:hover {
    transform: scale(1.1);
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 4px rgb(255, 0, 0);
    cursor: pointer;
}

.btn#reset:active {
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 4px rgb(255, 0, 0);
    transform: scale(0.95);
    cursor: pointer;
}

#grid-size-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 220px;
}

.slider {
    transition: all 0.05s ease-out;
    box-shadow: 0 0 4px gray;

    /* Override default CSS styles */
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 16px;
    outline: none;

    /* Set transparency (for mouse-over effects on hover) */
    opacity: 0.6;

    /* 0.2 seconds transition on hover */
    -webkit-transition: .2s;
    transition: opacity .2s;

    border-radius: 24px;
}

#grid-size-slider #current-size {
    font-size: 18px;
    font-weight: bold;
}

#size-change-warning {
    margin: 12px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 0, 0);
    opacity: 0;
}

.slider:hover {
    opacity: 1;
}

.slider:hover+#size-change-warning {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    box-shadow: 0 0 4px lightgray;

    transition: all 0.06s ease-in;

    /* Override default look */
    -webkit-appearance: none;
    appearance: none;

    width: 22px;
    height: 22px;
    background: black;
    cursor: pointer;
    border-radius: 24px;
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.slider::-webkit-slider-thumb:active {
    transform: scale(0.8);
}
