body {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-container {
    font-family: 'Courier New', Courier, monospace;
    margin: 16px;
}

#grid-container {
    background-color: whitesmoke;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 499px;
    height: auto;
    border-style: double;
    border-color: gray;
    border-width: 4px;
}

.square-div {
    background-color: white;
    width: 9px;
    height: 9px;
}
